<h1>Hello there!</h1> 

<form action='/birthday' method="post">
  <h2>What's your name?</h2>
  <input type="text" name="name">

  <h2>When's your birthday?</h2> 
  <h3>Enter date:</h3> 
  <input type="text" name="day">

  <h3>Enter month:</h3> 
  <input type="text" name="month">
  
  <input type="submit" value="Go!">
</form>