<h1>Hello there!</h1> 

<form action='/birthday' method="post">
  <h2>What's your name?</h2>
  <input type="text" name="name">

  <h2>When's your birthday?</h2> 
  <h3>Enter date:</h3> 
  <input type="text" name="day">

  <h3>Enter month:</h3> 

  <select name='month'>
  <option value="January">January</option>
  <option value="February">February</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="October">October</option>
  <option value="November">November</option>
  <option value="December">December</option>
  </select>

  <input type="submit" value="Go!">
</form>