<center>

<link rel="stylesheet" type="text/css" href="/wish_style.css">

<% if @birthday == @today %>
<h1> Happy Birthday <%=@name%>! :) </h1>
<% else %>
<h1> <%=@name%>, your birthday is in <%=@days_left%> days! 
<h2> Visit me on the day and I will wish you :) </h2>
<% end %>

</center>